<div id="wrapper">
	<div class="jumbotron">
		<h1>My NPR Articles</h1>
		<button class="btn btn-primary" id="npr-scrape"><a href="/scrape">Get NPR Articles!</a></button>
		<button class="btn btn-primary" id="view-saved"><a href="/saved-articles">View My Saved Articles</a></button>
	</div>
	
	<div class="container" id="articles">
		<div>
			{{#each article}}
				{{> media-block}}
			{{/each}}
		</div>
	</div>
</div>